body {
    background-color: #98DBCE;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
}

/* 
classes below
*/

.spacing {
    padding-bottom: 50px;
}

.header_img{
    position: relative;
    text-align: center;
    opacity: 0.4;
}

.header_txt {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    white-space: nowrap;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 
divs below
*/

#heading {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    color: #D2FF04;
    font-size: 87px;
}

#nyc_picture{
    max-width: 100%;
    height: 400px;
}